<h1>Poto/h1>
<p>Find me in app/views/homes/index.html.erb</p>

<%= link_to  "Voir", new_poto_path %>

<div class="alert alert-warning">

    <h1>Hello world !</h1>

    <p>Welcome to one of the best online courses app in the world.
    With us, your will learn everything about programming languages and girls.
    It's amazing. Isn't it?</p>
    <div class="btn-group dropup">
  <button type="button" class="btn btn-default">Dropup</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    coll man 
  </ul>
</div>
    
</div>